# Dependencies
node_modules/

# Build outputs
dist/
build/
out/
.next/
.nuxt/
.svelte-kit/
.storybook-static/

# Cache
.cache/
.parcel-cache/
.vite/
.turbo/
.eslintcache
.stylelintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files (DON'T COMMIT)
.env
.env.*.local

# Coverage / test output
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Editor state
.vim/

# OS / Editor
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/
*.swp

